In [1]:
!pip install pandas numpy matplotlib seaborn geopy folium

Requirement already satisfied: pandas in c:\users\hemap\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy in c:\users\hemap\anaconda3\lib\site-packages (1.23.5)
Requirement already satisfied: matplotlib in c:\users\hemap\anaconda3\lib\site-packages (3.7.0)
Requirement already satisfied: seaborn in c:\users\hemap\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: geopy in c:\users\hemap\anaconda3\lib\site-packages (2.4.1)
Requirement already satisfied: folium in c:\users\hemap\anaconda3\lib\site-packages (0.19.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hemap\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hemap\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hemap\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hemap\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hemap\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\users\hemap\anaconda3\lib\site-packages (from matplotlib) (22.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hemap\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hemap\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hemap\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\hemap\anaconda3\lib\site-packages (from geopy) (2.0)
Requirement already satisfied: xyzservices in c:\users\hemap\anaconda3\lib\site-packages (from folium) (2025.1.0)
Requirement already satisfied: requests in c:\users\hemap\anaconda3\lib\site-packages (from folium) (2.28.1)
Requirement already satisfied: branca>=0.6.0 in c:\users\hemap\anaconda3\lib\site-packages (from folium) (0.8.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\hemap\anaconda3\lib\site-packages (from folium) (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\hemap\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: six>=1.5 in c:\users\hemap\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hemap\anaconda3\lib\site-packages (from requests->folium) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hemap\anaconda3\lib\site-packages (from requests->folium) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\hemap\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hemap\anaconda3\lib\site-packages (from requests->folium) (2022.12.7)

In [4]:
import pandas as pd
data1 = pd.read_csv('data1.csv')
data2 = pd.read_csv('data2.csv')
data1.head()

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity
0,Yes,Yes,4.1/5,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Yes,No,4.1/5,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,Yes,No,3.8/5,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,No,No,3.7/5,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,No,No,3.8/5,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari

In [5]:
data1['rate'] = data1['rate'].replace('-', pd.NA)
data1['rate'] = data1['rate'].str.replace('/5', '', regex=False)
data1['rate'] = pd.to_numeric(data1['rate'], errors='coerce')
data1['rate'] = data1['rate'].fillna(data1['rate'].median())

In [6]:
data1['approx_costfor_two_people'] = data1['approx_costfor_two_people'].astype(str).str.replace(',', '')
data1['approx_costfor_two_people'] = pd.to_numeric(data1['approx_costfor_two_people'], errors='coerce')
data1['approx_costfor_two_people'] = data1['approx_costfor_two_people'].fillna(data1['approx_costfor_two_people'].median())

In [7]:
data1['dish_liked'] = data1['dish_liked'].fillna("Not Available")
data1['cuisines'] = data1['cuisines'].fillna("Other")
data1['rest_type'] = data1['rest_type'].fillna("Unknown")

In [8]:
data1['votes'] = data1['votes'].fillna(data1['votes'].median())
data1['votes'] = data1['votes'].astype(int)

In [9]:
data1['online_order'] = data1['online_order'].map({'Yes': 1, 'No': 0})
data1['book_table'] = data1['book_table'].map({'Yes': 1, 'No': 0})

In [10]:
data1.info()
data1.isnull().sum()
data1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   online_order               51717 non-null  int64
 1   book_table                 51717 non-null  int64
 2   rate                       51717 non-null  float64
 3   votes                      51717 non-null  int32
 4   rest_type                  51717 non-null  object
 5   dish_liked                 51717 non-null  object
 6   cuisines                   51717 non-null  object
 7   approx_costfor_two_people  51717 non-null  float64
 8   listed_intype              51717 non-null  object
 9   listed_incity              51717 non-null  object
dtypes: float64(2), int32(1), int64(2), object(5)
memory usage: 3.7+ MB

,online_order,book_table,rate,votes,approx_costfor_two_people
count,51717.000000,51717.000000,51717.000000,51717.000000,51717.000000
mean,0.588665,0.124698,3.700362,283.697527,554.391689
std,0.492080,0.330379,0.395391,803.838853,437.563723
min,0.000000,0.000000,1.800000,0.000000,40.000000
25%,0.000000,0.000000,3.500000,7.000000,300.000000
50%,1.000000,0.000000,3.700000,41.000000,400.000000
75%,1.000000,0.000000,3.900000,198.000000,650.000000
max,1.000000,1.000000,4.900000,16832.000000,6000.000000

In [11]:
merged_df = pd.merge(data1, data2, on='listed_incity', how='left')
merged_df.head()

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,Latitude,Longitude
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,Buffet,Banashankari,12.939333,77.553982
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,Buffet,Banashankari,12.939333,77.553982
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,Buffet,Banashankari,12.939333,77.553982
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,Buffet,Banashankari,12.939333,77.553982
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,Buffet,Banashankari,12.939333,77.553982

In [12]:
merged_df[['listed_incity', 'Latitude', 'Longitude']].isnull().sum()

listed_incity       0
Latitude         5580
Longitude        5580
dtype: int64

In [13]:
!pip install folium

Requirement already satisfied: folium in c:\users\hemap\anaconda3\lib\site-packages (0.19.5)
Requirement already satisfied: xyzservices in c:\users\hemap\anaconda3\lib\site-packages (from folium) (2025.1.0)
Requirement already satisfied: jinja2>=2.9 in c:\users\hemap\anaconda3\lib\site-packages (from folium) (3.1.2)
Requirement already satisfied: requests in c:\users\hemap\anaconda3\lib\site-packages (from folium) (2.28.1)
Requirement already satisfied: branca>=0.6.0 in c:\users\hemap\anaconda3\lib\site-packages (from folium) (0.8.1)
Requirement already satisfied: numpy in c:\users\hemap\anaconda3\lib\site-packages (from folium) (1.23.5)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\hemap\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\hemap\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hemap\anaconda3\lib\site-packages (from requests->folium) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hemap\anaconda3\lib\site-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hemap\anaconda3\lib\site-packages (from requests->folium) (1.26.14)

In [14]:
import folium
from folium.plugins import MarkerCluster

In [15]:
merged_df.columns

Index(['online_order', 'book_table', 'rate', 'votes', 'rest_type',
       'dish_liked', 'cuisines', 'approx_costfor_two_people', 'listed_intype',
       'listed_incity', 'Latitude', 'Longitude'],
      dtype='object')

In [18]:
import folium
from folium.plugins import MarkerCluster

# Create base map centered on Bangalore
blr_map = folium.Map(location=[12.9716, 77.5946], zoom_start=12)

# Add marker cluster to map
marker_cluster = MarkerCluster().add_to(blr_map)

In [19]:
for index, row in merged_df.iterrows():
    if pd.notnull(row['Latitude']) and pd.notnull(row['Longitude']):
        folium.Marker(
            location=[row['Latitude'], row['Longitude']],
            popup=f"{row['cuisines']} ({row['rate']}/5)",
            tooltip=row['listed_incity']
        ).add_to(marker_cluster)

In [ ]:
blr_map